footer{
    padding: 0 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    background-color: #495e57;
}
nav{
    padding: 0.5rem 1rem 1rem 1rem;
}